

  
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navLinks a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .contentArea {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
  }

  .contentArea div{
    color: black;
    background-color: red;
    text-decoration: none;
  }	
  
  .trendingPanel, .rightPanel {
    width: 20%;
    background-color: black;
    padding: 10px;
  }
  
  .mainFeed {
    width: 60%;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    padding: 10px;
  }
  
  .post {
    background-color:#000;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  }
  